body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_links {
    list-style: none;
    margin: 0 10px 0 0;
}

.nav_links li, a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 15px;
    font-size: 18px;
    color: black;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

#me {
    margin-right: -50px;
    max-width: 45%;
    bottom: 0;
}

#text {
    padding-right: 50px;
}

#text h1 {
    font-size: 80px;
    margin: 30px 0 30px 0;
}

#text p {
    font-size: 30px;
    margin: 15px 0 15px 0;
    padding-left: 10px;
}